@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@if (Model.Persons is not null)
{
    foreach (var person in Model.Persons)
    {
        <div><a asp-page="/Details" asp-route-personId="@person.Id">@person.FirstName @person.LastName</a></div>
    }
}

<form method="post">
    <input type="text" name="FirstName" />
    <input type="text" name="LastName" />
    <button type="submit">Save</button>
</form>